<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hello World!</h1>
    <button>Popup</button>
  </body>
  <script>
    const button = document.querySelector("button");

    let params = `popup=true,width=900,height=900`;

    button.onclick = () => {
      window.open("popup.html", "popupTab", params);
    };
  </script>
</html>
